<!-- you should add a link to get back to the topic show page, so the user knows what topic this post is a part of. I'll leave that up to u! -->
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= image_tag(@post.image.thumb.url) if @post.image? %>
      <!-- dont need to make the title linkable because it doesn't take you anywhere -->
      <%= markdown @post.title %>
    </h4>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      <strong> submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= link_to @post.user.name, edit_user_registration_path %><br/></strong></br>
      <%= markdown @post.body %><br/>
      <%= @comments.count %> Comments
      <% @comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </small>
  </br>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %>
    <% end %>
     <% if policy(@post).destroy? %>
       <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
     <% end %>
  </div>
</div>
